/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
.card-white {
background-color: white;
padding: 10px;
box-shadow: 0 10px 30px rgba(0,0,0,.1);
width: 350px; 
justify-content: flex-start;
}

.about {
text-align: center;
background color: white;
}


.box {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 2em;
  width: 1000px;
  grid-template-columns: 350px 350px 350px;
  display: inline-grid;
  align-items: top;
  justify-content: center;
}
}

.box :first-child {
    align-self: center;
}

.img-collection {
height: 1000px;
}

:root {
  --white-color:                  #FFFFFF;
  --primary-color:                #E0C3B1;
  --secondary-color:              #FFFFFF;
  --section-bg-color:             #F9F9F9;
  --dark-color:                   #000000;
  --title-color:                  #565758;
  --news-title-color:             #292828;
  --p-color:                      #6E7075;
  --border-color:                 #eaeaea;
  --border-radius-default:        .25rem;

  --body-font-family:             'Montserrat', sans-serif;

  --h1-font-size:                 12px;
  --h2-font-size:                 14px;
  --h3-font-size:                 10px;
  --h4-font-size:                 28px;
  --h5-font-size:                 26px;
  --h6-font-size:                 22px;

  --p-font-size:                  16px;
  --menu-font-size:               18px;
  --category-font-size:           14px;

  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-semibold:         600;
  --font-weight-bold:             700;
}

body {
    background: var(--white-color);
    font-family: var(--body-font-family);    
    position: relative;
}



/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

.h1 {
  font-size: 24px;
}

.h2 {
  font-size: 20px;
}

.h3 {
  font-size: 18px;
}

p,
.list .list-item {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}


a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

.form-label {
  color: var(--p-color);
  font-weight: var(--font-weight-semibold);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

.section-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: white;
}

b,
strong {
  font-weight: var(--font-weight-bold);
}



/*---------------------------------------
  CUSTOM BUTTON              
-----------------------------------------*/
.custom-btn {
  background: var(--dark-color);
  border: 0;
  border-radius: .25rem;
  color: var(--white-color);
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 14px 10px;
  text-decoration: none;

}

.custom-btn:hover {
  background: var(--primary-color);
}

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.navbar {
  background: var(--white-color);
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-brand {
  color: var(--dark-color);
  font-size: var(--h5-font-size);
  font-weight: var(--font-weight-bold);
  margin-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.navbar-expand-lg .nav-link {
  color: var(--p-color);
  font-weight: var(--font-weight-normal);
  font-size: var(--menu-font-size);
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active, 
.nav-link:focus, 
.nav-link:hover {
  color: var(--primary-color);
}

.nav-link:focus {
  color: var(--p-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--dark-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}

.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--dark-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon:before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon:after {
  top: 8px;
}


/*---------------------------------------
  SITE HEADER              
-----------------------------------------*/
.site-header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 0rem;
  padding-bottom: 0rem;
  text-align: left;
  position: relative;
  max-height: 450px;
}

.site-header .container {
  position: relative;
  z-index: 2;
}

.site-news-detail-header {
  background: transparent;
  text-align: left;
  max-height: 450px;
  padding-top: 6rem;
  padding-bottom: 6rem;
}


.site-menu-header {
  background-image: ;
}

.site-news-header {
  background-color: white ;
}

.site-contact-header {
  background color: white;
}

.overlay {
  background: #E0C3B1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


/*---------------------------------------
  MENU               
-----------------------------------------*/
.menu,
.about,
.news,
.related-news,
.newsletter,
.comments {
  background: var(--section-bg-color);
}

.menu-thumb {
  position: relative;
  overflow: hidden;
}

.menu-info {
  padding: 20px 20px 30px 20px;
}

.menu-image {
  display: block;
}

.menu-image-wrap {
  position: relative;
}

.menu-tag {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

.newsletter-image {
  border-radius: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  max-width: 450px;
  max-height: 450px;
}


/*---------------------------------------
  NEWS               
-----------------------------------------*/
.news-thumb {
  position: relative;
  overflow: hidden;
}

.news-thumb > a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  transition: all 0.3s ease-out;
}

.news-thumb > a:hover {
  transform: scale(1.2);
}

.news-text-info {
  background: white-color;
  position: relative;
  z-index: 2;
  padding: 20px;
  transition: all 0.3s ease-out;
}

.related-news .news-text-info {
  background: var(--white-color);
}

.news-text-info-large {
  background: linear-gradient(to top, var(--dark-color), transparent 90%);
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
}

.news-text-info-large .news-title-link {
  color: var(--white-color);
}

.news-title-link {
  color: var(--news-title-color);
}

.news-image {
  display: block;
  width: 100%;
  transition: all 0.3s ease-out;
}

.news-image:hover {
  transform: scale(1.2);
}

.category-tag,
.menu-tag {
  background: var(--dark-color);
  border-radius: var(--border-radius-default);
  color: var(--white-color);
  font-size: var(--category-font-size);
  display: inline-block;
  padding: 4px 12px;
}

.category-tag {
  margin-bottom: 5px;
}

.comment-form {
  margin-bottom: 60px;
}

.news-author {
  border-bottom: 1px solid rgba(0,0,0,0.05);
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}

.news-author:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.news-author-image {
  border-radius: 100px;
  object-fit: cover;
  width: 70px;
  height: 70px;
}


/*---------------------------------------
  CUSTOM FORM            
-----------------------------------------*/
.custom-form .form-control {
  margin-bottom: 20px;
  padding: 14px 10px;
  transition: all 0.3s;
}

.custom-form button[type="submit"] {
  background: var(--dark-color);
  border: 0;
  color: var(--white-color);
  text-transform: uppercase;
}

.custom-form button[type="submit"]:hover {
  background: var(--primary-color);
}


/*---------------------------------------
  FOOTER              
-----------------------------------------*/
.site-footer {
  background-image: url('../images/daan-evers-tKN1WXrzQ3s-unsplash.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
  position: relative;
}

.site-footer::before {
  content: "";
  background:#E0C3B1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.site-footer .container {
  position: relative;
}

.tooplate-mt30 {
	margin-top: 30px;
}
.tooplate-mt60 {
	margin-top: 60px;
}

.copyright-text {
  font-size: var(--menu-font-size);
}


.site-footer a:hover {
  color: var(--white-color);
}

.site-footer a {
  	color: #AAA;;
}

.site-footer p {
	color: #AAA;
}



/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 1180px) {
  h1 {
    font-size: 62px;
  }
}

@media screen and (max-width: 1170px) {
  h1 {
    font-size: 56px;
  }
}


@media screen and (max-width: 991px) {
  h1 {
    font-size: 38px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 8px;
  }

  h4 {
    font-size: 24px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }


  .site-header,
  .section-padding {
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-height: 450px;
    color: white;
  }

  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .navbar-nav .nav-link {
    padding-top: 5px;
    padding-bottom: 10px;
  }

  #BookingModal .modal-content {
    padding-bottom: 200px;
  }

  #BookingModal .modal-content::before {
    background-image: url('../images/sincerely-media-HoEYgBL_Gcs-unsplash-mobile.jpg');
    background-position: bottom;
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 200px;
    transform: rotate(180deg);
  }

  #BookingModal .modal-body {
    padding-top: 18px;
    padding-right: 32px;
  }
}

@media screen and (max-width: 480px) {
  .newsletter-image {
    max-width: 310px;
    max-height: 310px;
  }
